.filter-box {
  background-color: white;
  box-shadow: 2px 2px 2px #e2e2e2;
  width: 250px;
}

.filter-box-head {
  padding: 5px 10px;
}

.filter-box-title {
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  display: inline-block;
}

.filter-box-open {
  border: 5px solid transparent;
  border-top: 5px solid #4f82c6;
  clear: both;
  display: none;
  float: right;
  height: 0;
  margin-left: 220px;
  margin-top: 2px;
  position: absolute;
  width: 0;
}

.filter-box-close {
  border: 5px solid transparent;
  border-bottom: 5px solid #4f82c6;
  clear: both;
  display: block;
  float: right;
  height: 0;
  margin-left: 220px;
  margin-top: 2px;
  position: absolute;
  width: 0;
}
