.slider {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 230px;
}

.max {
  display: inline-block;
  float: right;
  font-size: 12px;
  font-weight: bold;
}

.min {
  display: inline-block;
  float: left;
  font-size: 12px;
  font-weight: bold;
}
