<app-filter-box classPrefix="filter-by-stars" title="Estrellas">
  <div class="stars">
    <label class="stars-all"><input type="checkbox" [checked]="allChecked" (change)="toggleStars($event.target.checked)"/>Todas las estrellas ({{getTotal()}})</label>
    <label class="stars-{{i+1}}" *ngFor="let c of checkboxes; let i = index">
      <input type="checkbox" [checked]="checkboxes[i].checked" (change)="changedStar(i, $event.target.checked)"/>{{i+1}} ({{starred[i]}})
    </label>
  </div>
</app-filter-box>
