.header {
  background-image: url(https://images.almundo.com/205/image/upload/q_auto/v1474474096/static/components/header-bg.jpg);
  color: white;
  display: block;
  height: 50px;
  width: 100%;
  text-align: center;
}

.header * {
  color: white;
}

.header-container {
  display: inline-block;
  height: 30px;
  padding: 10px;
  width: 1000px;
}

.header-container > div {
  line-height: 30px;
  vertical-align: middle;
}

.almundo-top-logo {
  height: 30px;
}

.leftmost {
  float: left;
}

.rightmost {
  float: right;
  font-size: 12px;
}

.header-sep {
  display: inline-block;
  width: 25px;
}

.persona {
}

.club-almundo {
}

.header-down-arrow {
}

.phone-icon {
}

.hamburger {
}
