<div class="header">
  <div class="header-container">
    <div class="leftmost">
      <img class="almundo-top-logo" src="https://images.almundo.com/205/image/upload/v1474984918/static/components/logo-almundo.svg" />
    </div>
    <div class="rightmost">
      <span><span class="persona"></span><span class="desktop"> Ingresar</span></span>
      <i class="header-sep">|</i>
      <span class="desktop"><i class="club-almundo">club almundo</i></span>
      <i class="header-sep">|</i>
      <span class="desktop">Sucursales</span>
      <i class="header-sep">|</i>
      <span class="desktop">Llamanos <i class="header-down-arrow"></i></span><i class="mobile phone-icon"></i>
      <i class="header-sep">|</i>
      <span class="desktop">Ayuda</span>
      <i class="mobile hamburger"></i>
    </div>
  </div>
</div>
