.search-box {
  border: 1px solid #cccccc;
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  width: 980px;
}

.search-head {
  display: block;
  font-size: 16px;
}

.search-body {
  font-size: 12px;
}

.search-spec {
  display: inline-block;
}

.search-location {}

.search-in-date {}

.search-out-date {}

.search-guests {}

.search-box a {}

@media(max-width: 1039px) {
  .search-box {
    border: none;
    border-bottom: 1px solid #cccccc;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .search-head, .search-spec {
    display: none;
  }
}
