.top-nav {
  background-image: url(https://images.almundo.com/205/image/upload/q_auto/v1474474096/static/components/header-bg.jpg);
  border: 1px solid #374d64;
  color: white;
  display: block;
  opacity: .75;
  text-align: center;
}

@media (max-width: 1039px) {
  .top-nav {
    display: none
  }
}

.top-nav li {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: 85px;
}

.top-nav li a {
  color: white;
}
