.view-map {
  background-color: white;
  box-shadow: 2px 2px 2px #e2e2e2;
  width: 250px;
}

.map-image {
  background-color: #8080ff;
  height: 130px;
  width: 100%;
}

.map-link {
  font-size: 12px;
  height: 20px;
  width: 100%;
  vertical-align: text-top;
}
