.view-map {
  background-color: white;
  box-shadow: 2px 2px 2px #e2e2e2;
  text-align: center;
  width: 250px;
}

.map-image {
  background-color: #8080ff;
  height: 130px;
  width: 100%;
}

.map-link {
  display: inline-block;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 100%;
}
