@import "../node_modules/nouislider/distribute/nouislider.min.css";

html, body {
  background-color: #f4f4f4;
  color: #444444;
  font-family: 'Roboto', sans-serif;
  position: relative;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  background-color: #002c77;
  border: 0;
  border-bottom: 2px solid #00215a;
  border-radius: 4px;
  color: white;
}

.toggler {
  color: #4f82c6;
}
